.checkbox__element {
  position: relative;
  z-index: -1;
  opacity: 0;
}
.checkbox__element + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox__element + label:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 0;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.checkbox__element + label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.checkbox__element + label:before {
  background: #CDD1DA;
}
.checkbox__element:checked + label:after {
  left: 26px;
}

#box:checked + label:before{
  background: #111111;
}
