.card {
  border: solid 1px black;
  border-radius: 10px 10px 0 0;
  position: relative;
  justify-self: left;

  max-width: 225px;
  min-height: 361px;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .card {
    width: 100%;
    max-width: 425px;
  }
}
