.card__btn-delete {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 20px;
  background: url(../../../images/trash-with.svg) no-repeat;
  border: 0;
  margin: 0;
  padding: 0;
}

.card__btn-delete:hover {
  opacity: .6;
  cursor: pointer;
  transition: .4s linear;
}
